<style>
body {
  background-color: red;
}
h1 {
  color: gold;
}
p {
  color: white}

.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>

<div class="content">
  <!-- Page content -->
</div>

</body>
